<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>{{ content_for_layout }}</string>
	<key>name</key>
	<string>content_for_layout</string>
	<key>scope</key>
	<string>text.html.liquid</string>
	<key>tabTrigger</key>
	<string>lcfl</string>
	<key>uuid</key>
	<string>1CDBA235-2158-49CB-BE6C-253BB610D04D</string>
</dict>
</plist>
